<!DOCTYPE html>
<html>

<head>
  <title>Books</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="nav">
      <div class="left-header">
        <h2 class="letter">Books</h2>
      </div>
      <div class="right-header">
        <%= link_to "book", "#", class: "btn" %>
        <%= link_to  "back", root_path, class: "back_btn" %>
      </div>
    </div>
  </header>
  <%= yield %>
</body>

</html>